.loader {
    border-radius:0.8rem;
    background: #555;
    margin-left: 7rem;
    margin-top:80px;
}
@media screen and (max-width: 480px) {
    .loader {
        width: 100vw;
        margin-left: 0;
        height: 300px;
        border-radius:0;
    }
}